{% extends 'base.jinja' %}

{% block content %}

<table style="border: 1px solid black">
  <tr>
    <th style="background-color: yellow; ">Friends List</th>
  </tr>
  <tr>
    <td style="border: 1px solid black">Friend 1</td>
  </tr>
  <tr>
    <td style="border: 1px solid black">Friend 2</td>
  </tr>
</table>

{% endblock %}