<!-- 
Sign up page, pretty much the same as login.
-->
{% extends 'base.jinja' %}


{% block content %} 
    <h1>Sign Up</h1>
    <p>Username</p>
    <input id="username"/>
    <p>Password</p>
    <input id="password" type="password"/>
    <button onclick="signup()">Sign up</button>
    <p>Your password should include uppercase and lowercase letters, numbers, symbols, etc.</p>

    <script>
        // this function prevents xss on the client-side by sanitising <, >, ,, ", and /
        function xssPrevention(toOutput){
            return toOutput.replace(/\&/g, '&amp;')
                .replace(/\</g, '&lt;')
                .replace(/\>/g, '&gt;')
                .replace(/\"/g, '&quot;')
                .replace(/\'/g, '&#x27;')
                .replace(/\//g, '&#x2F;');
        }


         function isValidURL(string) {
            if (string.length == 0) {
                return false;
            }
            if (string[0] == "/") {
                return true;
            }
            return false;
        }

        function isValidPassword(str) {
            let points = 0;
            // check password length
            if (str.length > 10){
                points+=1;
            }
            // check if uses Uppercase
            for (let i = 0; i < str.length; i++){
                if (str[i].toUpperCase() == str[i]){
                    points+=1
                    break;
                }
            }
            // check if uses lowercase
            for (let i = 0; i < str.length; i++){
                if (str[i].toLowerCase() == str[i]){
                    points+=1
                    break;
                }
            }
            // check if contains symbols
            const symbols = ['!','(',')','-','.','?','[',']','_','`','~',';',':','#','@','$','%','^','&','*','+','=']

            if (symbols.some(symbol => str.includes(symbol))) {
                points+=1
            }

            if (points > 3){
                return true;
            }
            else{
                return false;
            }
        }


        // this function is identical to login(), see login.jinja

        async function signup() {
            let username = xssPrevention($("#username").val())
            let password = xssPrevention($("#password").val())

            // validate if password is strong
            if (!isValidPassword(password)){
                alert('Password is too weak!')
                return;
            }

            let loginURL = "{{ url_for('signup_user') }}";
            let res = await axios.post(loginURL, {
                username: username,
                password: password
            });
            if (!isValidURL(res.data)) {
                alert(res.data);
                return;
            }
            window.open(res.data, "_self")
        }
    </script>
{% endblock %}
